@media only screen and (max-width: 767px) and (min-width: 480px)  {
    #a{
        background-color: #B8B8B8;
    }
    
    #b{
        background-color: #D0D0D0;
    }

    #c{
        background-color: #D8D8D8;
    }

    #d{
        background-color: #D3D3D3;
    }

    #e{
        background-color: #DCDCDC;
    }

    #f{
        background-color: #C8C8C8;
    }

    #g{
        background-color: #C0C0C0;
    }
  
    #h{
        background-color: #BEBEBE;
    }

    #i{
        background-color: #E0E0E0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 960px)  {
    #a{
        background-color: #C00000 ;
    }
    
    #b{
        background-color: #B80000 ;
    }

    #c{
        background-color: #B00000 ;
    }

    #d{
        background-color:#A80000 ;
    }

    #e{
        background-color: #A00000 ;
    }

    #f{
        background-color: #980000 ;
    }

    #g{
        background-color: #900000 ;
    }
  
    #h{
        background-color: #880000 ;
    }

    #i{
        background-color: #800000 ;
    }
}



